 <!-- CSS only <!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  th:fragment="Layout(content)">
<head>
    <title>Document</title>
   
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<section>
<div class="header">
<h1>LOGO</h1>

</div>

<div class="row">
<div class=" col-3 col-s-3 menu">
<ul class="menu">
<li class="menucontent">
<a class="active"href="home">Home</a>
</li>
<li class="menucontent">
<a href="about">About</a>
</li>
<li class="menucontent">
<a href="login">Login</a>
</li>
<li class="menucontent">
<a href="resistration">Sign-up</a>
</li>
</ul>

</div>
</div>
</section>
   
      <div th:replace="${content}"></div>
</body>
</html>  -->